<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FILEHEADER</key>
	<string>
//  ___FILENAME:deletingPathExtension___
//
//  This file is part of the ARASlideshow project.
//  Copyright (c) 2018 - present Alexis Aubry and the ARASlideshow authors.
//
//  Licensed under the terms of the MIT License.
//</string>
</dict>
</plist>
